<div class="reserach-cont">
    <h2> Research Projects: </h2>
    <P>
        ⦁ Minor Research Project: <br>
        ‘Title ‘Financial Literacy and its Impact on Women Vegetable Vendors in Navi – Mumbai’, by Board of College &
        University Development (BCUD), University of Mumbai in year 2019 – 20. Currently working on this project. <br>
        ⦁ Minor Research Project: ‘Title ‘Gender Budget Analysis of Budget of Municipal Corporation of Greater Mumbai:
        1992-93 to 2014 -15’, by Board of College & University Development (BCUD), University of Mumbai in year 2015 –
        16. <br>
        ⦁ Minor research project: ‘Gender Audit of Union Budget of India during the Post-Reform Decade (1992-2002)’.
        Project was sanction by BCUD, University of Mumbai for the academic year 2005. The Project is successfully
        completed & submitted to the university in year 2006. <br>
        ⦁ Major Research project: ‘Women in Chinese and Indian Export Processing Zone: A Case Study of Electronic
        Industry has completed. This project was sponsored by Indian Council of Social Science Research (ICSSR-New
        Delhi) and Chinese Academy of Social Science (CASS-Beijing, China) for the academic year 2006. <br>
        ⦁ Worked on the research project titled ‘Globalization and Cultural Transformation of Dharavi Slum in Mumbai’ in
        year 2007-08. This project was conducted by PUKAR, an NGO and financially supported by Ford Foundation, USA.
        <br>
    </P>
</div>