

<div class="about-cont">

    

<h2> ABOUT ME <br> </h2>
<p>
    Coordinator, Internal Quality Assurance Cell (IQAC), a statutory appointment that looks after the overall (Including Teaching and Research) development of institution. I was appointed as coordinator of IQAC in year 2013-14 to 2020-21. Responsibilities discharged during this tenured are given below:  <br>
    	‘Academic Audit’ of the Institution (2016) by University of Mumbai. <br>
    	National Accreditation of the Institution (2017) by National Assessment and Accreditation Council (NAAC), Bangaluru, India. <br>
    	Initiatives for ‘Academic & Administrative Autonomy’ of the Institution. <br> 
    Instrumental in switching education from face – to – face to online mode of learning during the Covid – 19 pandemic. 
    <br>
</p>


 
  <h2>  Subject Taught: </h2>
     <p>

<br>        ⦁	Foundation Course-I: Socio-economic problem of India <br>
    ⦁	Foundation Course-II: Human rights, science and ecological studies<br>
    ⦁	Business Economics-I: Micro/Managerial economics<br>
    ⦁	Business Economics-II: Macroeconomics <br>
    ⦁	Business Economics-III: Problem and issues in Indian economy<br>
    
    Area of Interest:<br> Caste, Class and Gender, Informal Sector Labour.  <br>
    Language Known: English, Hindi, Marathi. <br>
    
</p>

</div>
