<div class="side_nav_cont">
    <div class="nav-top">

          
        <div class="Profile">
            <img src="https://images.unsplash.com/photo-1601655781320-205e34c94eb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
        </div>
        
        <div class="nav-name"><h4> Surendra Jadhav </h4></div>
    
    </div>

    


    <div class="nav-middel">
        <div class="nav-middel-top">
            <ul>
                <li>  <span class="material-symbols-outlined">
                    school
                    </span><a href="Home">Education</a></li>

                <li><span class="material-symbols-outlined">
                    person
                    </span> <a routerLink="About">About</a></li>

                <li><span class="material-symbols-outlined">
                    library_books
                    </span> <a href="Scholarship">Scholarship </a></li>

                <li><span class="material-symbols-outlined">
                    science
                    </span> <a href="Research">Reserach</a></li>

            </ul>
            <br>
          
        </div>
        <div class="nav-middel-bottom">
            <ul>
                <li><span class="material-symbols-outlined">
                    print
                    </span> <a href="Publication">Publications</a></li>

                <li><span class="material-symbols-outlined">
                    card_membership
                    </span> <a href="Published">Reserach</a></li>
                    
                <li> <span class="material-symbols-outlined">
                    tv
                    </span><a href="Live_TV">Live Tv</a></li>
                <li><span class="material-symbols-outlined">
                    demography
                    </span> <a href="NewsPaper">News Paper</a></li>
            </ul>

        </div>
    </div>
    <div class="nav-footer">
      <p>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/i/flow/login?
        input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="fa-brands fa-twitter"></i></a>

        <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fa-regular fa-envelope"></i></a>
        
        <a href="https://youtu.be/dQw4w9WgXcQ?t=44"><i class="fa-brands fa-youtube"></i></a>
    </div>
</div>