<div class="newspaper-cont">

<h2>
    News Paper Article
    <br>
</h2>
<p>
    Jadhav Surendra 2017, Hunger & Malnutrition: Silent Emergency (भूक, कुपोषण : मूक आणीबाणी) 26th October, Loksatta, Link: https://www.loksatta.com/vishesh-news/hunger-and-malnutrition-in-india-1575506/Selected Articles published in Top News Papers in Maharashtra: (Language: Marathi New paper belongs to top media houses in India like – Times of India (Maharashtra Times), Indian Express (Loksatta) & Online daily like – Aksharnama etc,). <br>
⦁	
⦁	Surendra Jadhav 2018, ‘Plights of Pre-primary Women Teachers in India’, (अंगणवाडी सेविकांच्या प्रश्नांचे गांभीर्य) 22nd February, Loksatta. Link: https://www.loksatta.com/vishesh-news/maharashtra-government-not-interested-in-anganwadi-sevika-problem-2-1635264/<br>
⦁	Jadhav Surendra 2016, Extreme Economic/Wealth Inequalities in India (श्रीमंतांची अधिक श्रीमंती आणि गरिबांची अधिक गरिबी) 30th November, Online Daily ‘Aksharnama’, Link: https://www.aksharnama.com/client/article_detail/228<br>
⦁	Jadhav Surendra 2016, ‘Causes of European Union Split’(युरोपीय युनियन दुभंगण्याची कारणमीमांसा) 13th July, Maharashtra Times, Link: https://maharashtratimes.com/editorial/article/brexit/articleshow/53182358.cms<br>
⦁	Jadhav Surendra 2017, WTO & China: Battle for Existence’, Link: (डब्लूटीओ आणि चीन: अस्तित्वाची लढाई) 12th  December, esakal, Link: https://www.esakal.com/sampadakiya/marathi-articlewto-and-chainapro-surendra-jadhav-86961 <br>
⦁	Jadhav Surendra 2017 ‘Chabahar Port – Opportunity to sideline China and Pakistan’, (चीन व पाकला शह देण्याची सागरी संधी) 26th December, Maharashtra Times Link: https://maharashtratimes.com/editorial/article/iranian-president-hassan-rouhani-inaugurates-chabahar-port/articleshow/62245802.cms <br>
⦁	Jadhav Surendra 2017, Challenges of enhancing University ranking in India (विद्यापीठ दर्जावाढीचे आव्हान) 28th December, Loksatta, Link: https://www.loksatta.com/vishesh-news/articles-in-marathi-on-education-in-india-1607415/<br>
⦁	Jadhav Surendra 2018, Predatory Journals in India (सुमार संशोधनाचे बेसुमार पिक)12th January 2018, e-sakal, Link: ⦁	https://www.esakal.com/sampadakiya/surendra-jadhav-write-collage-teacher-article-editorial-page-91952?fbclid=IwAR39NtHI5kx1_1L NiLHEiXchyJMbl1quWBS6Z9fg7ppP6N9JYugBJartfM<br>
⦁	Jadhav Surendra 2017, Amazon’s Black Friday and Cyber Monday () 3rd December, Lokmat, Link: https://www.lokmat.com/blog/mumbai/amazons-black-freeway-cyber-monday/?fbclid=IwAR3AO-zDIFiuSHi5z8I8IiwGJ7xoLMX6jWIwJ010ZPKizhjRfn-8BY9TkFY<br>
⦁	Jadhav Surendra 2015 ‘ Pakistan towards Military Dictatorship (पाकिस्तान सैन्य शासनाच्या दिशेने..) 1st January, Maharashtra Times, Link: ⦁	https://maharashtratimes.com/editorial/article/pakistan military/⦁	articleshow⦁	/45712671.cms<br>
⦁	Jadhav Surendra 2015, Opportunity Lost by Pakistani Hindus (पाकिस्तानी हिंदूंनी गमावलेली संधी) 27th March, Maharashtra Times, Link: https://maharashtratimes.com/editorial/article/articleshow/46709175.cms<br>
⦁	  Jadhav Surendra 2015, Who needs General Ziya’s Legacy? (झियांचा वारसा हवा कुणाला ?), 28th January, Loksatta, Link: https://www.loksatta.com/vishesh-news/qadianism-differ-from-islam-1065386/<br>
⦁	Jadhav Surendra 2014, ‘Good and Bad Terrorism’(चांगला आणि वाईट दहशतवाद) 16th December, Loksatta, Link: https://www.loksatta.com/vishesh-news/debate-over-good-and-bad-terrorism-in-pakistan-1051669/<br>
⦁	 Jadhav Surendra 2015, Teachers are forced to take gun training in Pakistan (शिक्षकांच्या खांद्यावर बंदूक), 10th February, Maharashtra Times, Link: https://maharashtratimes.com/editorial/article/teachers-with-guns/articleshow/46179854.cms<br>
⦁	Jadhav Surendra 2015, Pakistani  Muhajirs RAW Connection (पाकिस्तानी मुहजिरांचे ‘रॉ’ कनेक्शन) 7th June, Maharashtra Times, Link: https://www.loksatta.com/vishesh-news/muhajir-raw-connection-1110988/ <br>
</p>
</div>