
<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://media0.giphy.com/media/3orieUe6ejxSFxYCXe/giphy.gif?cid=ecf05e47d9drhsx7tob8wg6py20d3cgiii01wbjt4e07y2md&rid=giphy.gif&ct=g" /> </div>
      <div class="card_title title-white">
        <p>Reserach</p>
      </div>
    </div>
    
    
    
    <div class="card 2">
      <div class="card_image">
        <img src="https://media3.giphy.com/media/6XX4V0O8a0xdS/giphy.gif?cid=ecf05e4717wx673knxfgvnho9e88eppbaa8fg9bq597mv3w0&rid=giphy.gif&ct=g" />
      </div>
      <div class="card_title">
        <p>Scholarship</p>
      </div>
    </div>
      
     
    
    </div>