
<div class="lineUp">
    
<h2> Publication </h2>
<P>
    Book:  <br>
⦁	Jadhav Surendra 2015, ‘Women Empowerment and Gender Budgeting: Gender Analysis of Maharashtra’s Budget (1992-2006)’, ISBN: 978-93-80207-60-5, Sunrise Publisher and Distributor, Jaipur, Rajasthan – India.  <br>

Chapters in Books:  <br>
⦁	Sarkar Abhijit, Jadhav Surendra 2019, ‘Nexus between Economic Growth and Environment: A Theoretical Approach’, pp – 54-64, (Edits) by Arjun Gope, Abhijit Sarkar, Santanu Mujumder, Kuldip Gosai, ‘Environmental Issus & Sustainable Development’, Notion Press, India, Singapore, Malaysia. ISBN: 978 -1- 64546 - 563 -8.  <br>
⦁	Jadhav Surendra 2019, Dr. B.R. Ambedkar and Decent Labour Framework by International Labour Organization, Paper presented in National Conference on ‘Relevance of Ambedkarism’, 26-27 September 2018 by Dr. Ambedkar Chair, Indira Gandhi National Tribal University, Amarkantak, Madhya Pradesh. (Will be published in edited book format).  <br>
⦁	Landge K.L. and Jadhav Surendra 2020, ‘Socio – Economic Development of Rural Tribes: A case study of Wada Taluka from Palghar District’, paper presented in National Conference on Rural Development in Backward Regions of India, 17-18 Feb 2020 by Department of Economics, Dr. Babasaheb Ambedkar Marathawada University. (Will be published in edited book format).   <br>
⦁	Jadhav Surendra, M.P. Borkar & K.D. Landge 2016, ‘Kyto Protocol and Carbon Trading in India, Paper presented in International Conference on ‘Environment: Issues, Challenges and Solution’, 23rd Sept. 2016. ISBN: 978-81-930154-6.0). <br>
⦁	Jadhav Surendra 2014, ‘Mapping the Progress of Incremental Devolution & it’s Impact on Elected Members belongs to SC, ST and Women Category in India: An Overview of Panchayat Raj Institution’, Paper presented in National Conference on Panchayat Raj, Decentralized Development and Empowering the Youth’, 21 – 22 November 2014. Conference Proceeding: ISBN:  978-93-5149-193-4. <br>
⦁	Jadhav Surendra 2017, ‘Financial Literacy among Muslims engaged in Petty Bsiness in Mumbai’, pp – 272 – 277, (Edits) Kaur Kanwaljit, Shad Ahmad, ‘Development of Nations: An Interplay of Economics, Politics and Society’, Madaan Publishing House, Patiala, India. ISBN: 978 – 93 – 84661 – 49 – 6.  <br>
</P>
</div>