<div class="live-tv-cont">

    <H2>
        Live TV
    </H2>

    <p>

        <br>
        ⦁ Jadhav Surendra 2016, Indo – French Bilateral Relationship, Shayadri DD News (Government News Channel, Govt.
        of Maharashtra) 29th January (My Commentary in this video starts from 15:30 minutes to 22: 30 minutes), Link: ⦁
        https://www.youtube.com/watch?
        v=1tX2G0auaQfeature=youtu.belist=PL4LJvvb3AbvErMHyhHFfocd9eHffTmf6fbclid=IwAR3UbD2Brdsutl8iGM1_cAwZ2OvYkgGvF7AVtkY61pUx8oBE7kvTBbiRNnQ
        <br>
        <br>
        ⦁ Jadhav Surendra 2015, ‘Indo – U.S. Relationship, Shayadri DD News (Government News Channel, Govt. of
        Maharashtra) 28th October (My Commentary in this video starts from 06 minutes to 29:00 minutes) 28th October,
        Link: ⦁ https://www.youtube.com/watch?v=NFZRmn7pEaE⦁ &⦁ feature=share


    </p>

 