<div class="Published-cont">
<h2> Published</h2> 

<p>

Jadhav Surendra, Sarmah Bhaskar 2019, ‘A Critical Reflection on Food Security & its Consequences on Child Health in India’, Printing Area, August 2019, Issue – 56, Vol. 02, pp – 30 to 37. ISSN: (ISSN 2319 9318) <br>
⦁	Jadhav Surendra 2019, ‘Feminization of Agriculture in India: Is this an opportunity for sustainable agriculture’? Paper presented in National Conference on ‘Innovative Solutions for Sustainable Agriculture’,  <br>
⦁	Jadhav Surendra 2019, ‘Prevention, prohibition and redressal of sexual harassment of women at workplace act 2013 during the post-liberalized era: Analysis from feminist perspective’ Paper presented in a National Conference on 'Gender Sensitization: An Imperative Need of the Hour’, Published in E – journal: <br>
⦁	Jadhav Surendra 2020, ‘Men and Women Disparity in India and Bangladesh’ (स्री-पुरुष असमानता: भारत आणि बांगलादेश)’, Parivartanacha Watsaru (Journeyer of Change), 16th February 2020, Page – 37-42, 16-19 February 2020, ISSN: 2250-3145.<br>
⦁	Jadhav Surendra 2019, Brexit: An analysis of Breaking EU, future challenges’, (ब्रेक्सिट: युरोपीय युनियन दुभंगण्याची मीमांसा, भवितव्य आणि आव्हाने), Samaj Prabodhan Patrika (Journal of Social Awakening) Issue – 228, Oct-Nov-Dec 2019, ISSN: 0973-2845.<br>
⦁	Jadhav Surendra 2019, ‘Dr. B.R. Ambedkar and Skill India’, Parivartanacha Watsaru (Journeyer of Change), 16th April 2019, ISSN: 2250-3145.<br>
⦁	Jadhav Surendra 2015, ‘11th SAARC Conference from Pakistani Perspective’, Mukta Shabda Publication, Mumbai, ISSN 2347-3150.<br>
⦁	Jadhav Surendra & Manohar Borkar 2017, ‘Indian Manufacturing and Make in India Initiatives: A Macro Analysis’, pp – 34,  paper presented in International Conference – Make in India: Myth or Initiative’ by B.N. Agrawal College. ISSN 2231- 5063.<br>
⦁	Jadhav, Surendra. 2002.  ‘Economic Liberalization and Women in Asia’, Parammitra (Vernacular Journal), October-January 2002, Mumbai.<br>
⦁	Jadhav, Surendra. 2003. ‘Economic Reform and Women in Maharashtra’, Yougantar (Vernacular Journal) Special Issue, October-November 2003, Mumbai<br>
</p>
</div>