<div class="home-container">

    
      

        <div class="container">
            <div>
            <p>Hello  I'm</p> 
        </div>
        <div>
            
            <section class="animation">
            
              <div class="first"><div>Educator</div></div>
              <div class="second"><div>Teacher</div></div>
              <div class="third"><div>Professor</div></div>
            </section>
        </div>
        </div>



    



        <div class="right">
            <button>
                Download Cv
                <span class="material-symbols-outlined">
                    download
                    </span>
            </button>

        </div>
    

</div>