.home-container{
    background-image: url("https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: 80%;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: flex;
    height: 100vh;
    width: 80vw;
    justify-content: space-between;

    background-size: cover;
    /* background-size: 300px 100px; */
    margin: 0;
    padding-left: 2ch;
    position: absolute;
    bottom: 0px;
    font-family: 'Oswald', sans-serif;
}


.left h2{

 position: absolute;
    bottom: 0;
    color: whitesmoke;
    font-size: 10vh;
    padding: 3%;
    font-weight: 100;
}

.right{
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%
}
.right button{


   border: transparent;
    background-color: Transparent;
    cursor:pointer;
    overflow: hidden; 
    font-size: 10vh;
    color: whitesmoke;
    padding: 2ch;

}
.right button:hover{
color: black;
font-size: larger;
 border-bottom: 1px solid black;

}






.text-class{
    display: flex;
}

.material-symbols-outlined{
    font-size: 10vh;
}

.right button,span{
font-size: small;
}

.right span{
    font-size: 2ch;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  background-color: #131417;  
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content:flex-start; padding: 2ch;
}

.animation {
  height:70px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 12s infinite;
}

.first div {
  background-color:transparent;
}
.second div {
  background-color:transparent;
}
.third div {
  background-color:transparent;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

