<div class="scholarship-cont">

<h2> Scholarship  <br></h2>
<p>
    ⦁	Selected as a visiting research scholar under ‘Indo-China Cultural Exchange Programme 2006’, by Indian Council for Social Science Research (ICSSR-New Delhi) and Chinese Academy of Social Science (CASS) Beijing-China. <br>
⦁	National Merit Scholarship, Government of India, 1988-91. <br>
⦁	U.G.C. National Merit Scholarship, Canter of Advanced Studies in Economics, Department of Economics, University of Mumbai. (1992-1994) <br>
⦁	Departmental Merit Scholarship, Department of Civics & Politics, University of Mumbai. (1995). <br>
⦁	Dr. Tulpule Prize for securing highest marks in Economics in graduation, by Ferguson Collage Pune, Maharashtra in year 1992-93.

</p>
</div>